/*#region body */
.hidden {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* #endregion */
/*#region common */
.container {
  max-width: 320px;
  padding: left 0;
  padding: right 0;
  margin: left 0;
  margin: right 0;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: left 0;
    padding: right 0;
    margin: left 0;
    margin: right 0;
    margin: 0 auto;
    padding: 0 15px;
  }
}
button {
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
/* #endregion */
/*#region header */
.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header-list,
.address {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.studio {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-page {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 120px;
  }

  .studio {
    color: #2e2f42;
  }
  .nav-header-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
  }
  .nav-item {
    padding: 24px 0;
  }

  .nav-item-link-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-item-link-studio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404bbf;
  }
  .nav-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }

  .nav-item-link:hover,
  .nav-item-link:focus {
    color: #404bbf;
  }

  .address {
    font-style: normal;
    display: block;
  }
  .addr-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .addr-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .addr-link:hover,
  .addr-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-container {
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
  }

  .nav-page {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 24px 0;
  }

  .studio {
    color: #2e2f42;
  }

  .nav-header-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    gap: 40px;
  }
  .nav-item {
    padding: 24px 0;
  }

  .nav-item-link-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .nav-item-link-studio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404bbf;
  }
  .nav-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }

  .nav-item-link:hover,
  .nav-item-link:focus {
    color: #404bbf;
  }

  .address {
    font-style: normal;
  }
  .addr-list {
    align-items: center;
    gap: 40px;
    flex-direction: row;
  }
  .addr-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding: 24px 0;
  }
  .addr-link:hover,
  .addr-link:focus {
    color: #404bbf;
  }
}
/* #endregion */
/*#region mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  margin-bottom: 40px;
  max-width: 324px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
}
.mobile-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-btn-close:hover,
.mobile-btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-mobile-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mobile-close:hover,
.icon-mobile-close:focus {
  fill: #ffffff;
}

.nav-menu-mobile {
  margin-bottom: auto;
  padding-left: 16px;
}
.nav-menu-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
  width: 151px;
  height: 200px;
}
.nav-menu-link-studio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.nav-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-addr-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.menu-addr-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 48px;
  padding-left: 16px;
}
.menu-addr-list,
.menu-addr-list {
  color: #404bbf;
}
.social-list-card {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 24px;
  margin: 0 auto;
}
.social-list-all-cards {
  width: 40px;
  height: 40px;
}
.cards-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover,
.cards-link:focus {
  background-color: #404bbf;
}
.social-fill {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */
/*#region hero */
.hero {
  max-width: 320px;
  height: 432px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg-mobile@1x.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/Dark-bg-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/Dark-bg-tablet@1x.jpg");
  }
}
@media screen and (max-width: 1157px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/Dark-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office@1x.jpg");
  }
}
@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/people-office@2x.jpg");
  }
}
.hero-title {
  display: flex;
  max-width: 216px;
  height: 160px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.hero-btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-title {
    max-width: 496px;
    height: 120px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}
/* #endregion */
/*#region benefits */
.benefits {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px;
}
.icons-benefits {
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
@media screen and (min-width: 1158px) {
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  max-width: 288px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    max-width: 736px;
    column-gap: 24px;
    row-gap: 72;
  }
}
@media screen and (min-width: 1158px) {
  .benefits-list {
    max-width: 1128px;
    flex-direction: row;
    gap: 24px;
  }
}
.benefits-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .benefits-item {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .icons-benefits {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
}
.benef-lis-p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .benef-lis-p {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .benef-lis-p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.p-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 1158px) {
  .p-text {
    font-weight: 400;
  }
}
/* #endregion */
/*#region ourteam */
.ourteam-title {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 0;
  padding: 0;
  margin-bottom: 72px;
}
.our-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}

.our-team-li {
  display: block;
  align-items: center;
  justify-items: center;
  background-color: #ffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-team-list {
  gap: 72px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.team-name {
  padding: 32px 0;
}
.social-list-card {
  gap: 24px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.team-name .list-item-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-align: center;
}
.p-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #434455;
  display: block;
  margin-bottom: 8px;
}
.social-list-all-cards {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
}
.cards-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards-link:hover,
.cards-link:focus {
  background-color: #404bbf;
}
.social-fill {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
    width: 584px;
  }
  .our-team-li {
    width: calc(50% - 24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 1158px) {
  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team-li {
    display: block;
    align-items: center;
    justify-items: center;
  }
  .our-team-list {
    gap: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
/* #endregion */
/* #region our-portfolio */

.our-portfolio {
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
}
.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}
.our-portfolio-li {
  width: 100%;
  position: relative;
  background-color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-li:hover,
.our-portfolio-li:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.all-img {
  position: relative;
  display: block;
  overflow: hidden;
}
.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-li:hover .overlay-text {
  transform: translateY(0%);
}
.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .our-portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .our-portfolio-li {
    width: calc((100% - 1 * 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .our-portfolio {
    padding: 120px 0;
  }

  .our-portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .our-portfolio-li {
    width: calc((100% - 2 * 24px) / 3);
  }
}
/* #endregion */
/* #region footer */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footers-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
  align-items: center;
}
.logo.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-title {
  max-width: 288px;
  height: 72px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.social-media-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.first-media {
  width: 40px;
  height: 40px;
}
.media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-icon:hover,
.Ð¼edia-icon:focus {
  background-color: #31d0aa;
}
.social-media-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.first-media {
  width: 40px;
  height: 40px;
}
.media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-icon:hover,
.media-icon:focus {
  background-color: #31d0aa;
}
.social-media-fill {
  fill: #f4f4fd;
}
/* #endregion */
